invalid domain

"hosts" contains domain "v6r9t2wkjw9qn77dubjjpkutewfddkb559zmw6hkqzkh7esp64ep4vs7dvwu8dhq.signal.org" which is not a valid domain name since it contains 64 symbols in an individual label, see [RFC 1034§3](https://www.rfc-editor.org/rfc/rfc1034#section-3):
>...Each node has a label, which is zero to 63 octets in length...

This may affect some software: adding such a host to config of unbound nameserver will stop it from working.

Please remove this domain from the hosts and validate domains before adding them to the list

@shizualand 
Fixed